body {
    font-family: 'Roboto', sans-serif;
}

a {
   text-decoration: none;
   color: #833AE0;
}

h1 {
    font-size: 43px;
    line-height: 50px;
    text-align: center;
}

.container {
    display: flex; 
    flex-wrap: wrap; 
    margin: 0 50px  
}

.coin-continer {
    display: flex;
    justify-content: space-between;
    width: 650px;
    min-width: 600px;
    max-width: 900px;
    position: relative;
    font-size: 16px;
    line-height: 19px;
}

.coin-img {
    width: 172px;
}

.about-coin{
    font-size: 13px;
}

.coin-description-container {
    margin: 0 7x;
}

.percent {
    position: absolute;
    top: 25px;
    left: 105px;
    width: 40px;s
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #833AE0;
    color: white;
    border-radius: 50%;
    
}

.coin-heading {
    color: #833AE0;
    line-height: 19px;
    font-size: 16px;
}

.coin-second-container {
    display: flex;
}

.price-container{
    margin: 20px 0 0;
}

.price-one {
    font-weight: bold;
}

