body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 43px;
    line-height: 50px;
    text-align: center;
}

.container {
    display: flex; 
    flex-wrap: wrap;   
}

.coin-continer {
    display: flex;
    justify-content: space-around;
    position: relative;
    font-size: 16px;
    line-height: 19px;
}

.coin-img {
    width: 172px;
}

.percent {
    position: absolute;
    top: 25px;
    left: 105px;
    width: 40px;s
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #833AE0;
    color: white;
    border-radius: 50%;
    
}

.coin-heading {
    color: #833AE0;
}

.price-container{
    margin: 25px 0 0;
}

.price-one {
    font-weight: bold;
}

